:root{
  --cinza: #505066;
}

html, body { 
  margin:0; height: 100%;
}

html{
  scroll-behavior: smooth;
}


body {
  color: var(--cinza);
  font-family: 'Oswald', sans-serif;
}

.card {
    -webkit-box-shadow: -18px -18px 34px -10px rgba(255,181,77,0.67), 18px 18px 34px -10px rgba(255,74,102,0.67); 
    box-shadow: -18px -18px 34px -10px rgba(255,181,77,0.67), 18px 18px 34px -10px rgba(255,74,102,0.67);
    color: var(--cinza)
}


#formulario {
    -webkit-box-shadow: 18px 18px 34px -25px #FF4A66, -18px -18px 34px -28px #FFAC38; 
    box-shadow: 18px 18px 34px -25px #FF4A66, -18px -18px 34px -28px #FFAC38;
}


  .transicao-rosa:hover {
    color: #ff6fc3;
      transition:0.4s;
  }

  .pink-shadow {
    -webkit-box-shadow: 0px 5px 47px -17px rgba(230,179,255,0.73); 
    box-shadow: 0px 5px 47px -17px rgba(230,179,255,0.73);
  }
  